<h2>Events matching your search</h2>
<div id="map">
    <!-- Create map here -->
</div>

<% content_for :sidebar do %>
    <h3>Event Search</h3>
    <form action="/event/results/" method="get">
	
	    <div class="clearfix">
	        <label for="postcode" title="This is a required field">Postcode:</label>
	        <input id="postcode" name="postcode" type="text" value="<%= @search[:postcode] %>">
	    </div>
	    
	    <div class="clearfix">
	        <label for="radius">Distance:</label>
            <select name="radius" id="radius">
                <% DISTANCE.each do |key, value| %>
                    <option value="<%= key %>"
                        <% if @search[:radius] == key.to_s %>
                            selected="selected"
                        <% end %>
                    ><%= value %></option>
                <% end %>
            </select>
	    </div>
	    
	    <div class="clearfix">
	        <label for="searchType">Type:</label>
            <select name="radius" id="radius">
                <% CATEGORIES.each do |key, value| %>
                    <option value="<%= key %>"
                        <% if @search[:type] == key.to_s %>
                            selected="selected"
                        <% end %>
                    ><%= value %></option>
                <% end %>
            </select>
	    </div>
	    
	    <div class="clearfix">
	        <label for="dateFrom">Date From:</label>
	        <input type="date" id="dateFrom" name="afterDate" value="<%= @search[:afterDate] %>">
	        
	        <label for="dateTo">Date To:</label>
	        <input type="date" id="dateTo" name="beforeDate" value="<%= @search[:beforeDate] %>">
	    </div>
	        
			<input type="submit" value="Search" class="btn primary">
	
	</form>
<% end %>