<form action="/event/results/" method="get">
	
	<div class="clearfix">
        <label for="location" title="This is a required field">Location:</label>
        <div class="input">
            <input id="location" name="postcode" type="text">
            <a href="#" id="btnLoc" class="btn" title="Find my location">Find my location</a>
        </div>
        <input type="hidden" name="latitude" id="latitude" placeholder="Latitude" >
        <input type="hidden" name="longitude" id="longitude" placeholder="Longitude">
    </div>
    
    
    <div class="clearfix">
        <label for="radius">Distance:</label>
        <div class="input">
            <select name="radius" id="radius">
                <% DISTANCE.each do |key, value| %>
                    <option value="<%= key %>"><%= value %></option>
                <% end %>
            </select>
        </div>
    </div>
    
    <div class="clearfix">
        <label for="searchType">Type:</label>
        <div class="input">
            <select id="searchType" name="type" class="searchFilter">
                <% CATEGORIES.each do |key, value| %>
                    <option value="<%= key %>"><%= value %></option>
                <% end %>
            </select>
        </div>
    </div>
    
    <div class="clearfix">
        <label for="dateFrom">Date From:</label>
        <div class="input">
            <input type="date" id="dateFrom" name="afterDate">
        </div>
        
        <label for="dateTo">Date To:</label>
        <div class="input">
            <input type="date" id="dateTo" name="beforeDate">
        </div>
    </div>
        
    <div class="input">
		<input type="submit" value="Search" class="btn primary">
	</div>
        
</form>

<h2>Recently added events</h2>
<% if @events.count != 0 %>
	<ul>
	<% @events.each do | event | %>
		<li><a href="/event/<%= event.id %>"><%= event.title %></a></li>
	<% end %>
	</ul>
<% else %>
	<p>There are no recent events</p>
<% end %>

<% content_for :sidebar do %>
    <h3>Site Sponsors</h3>
    <ul class="media-grid">
        <li>
            <a href="#">
                <img src="/img/sponsor.png" alt="Sponsor the site">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/sponsor.png" alt="Sponsor the site">
            </a>
        </li>
        <li>
            <a href="#">
                <img src="/img/sponsor.png" alt="Sponsor the site">
            </a>
        </li>
    </ul>
<% end %>
<% content_for :js_footer do%>
<script src="../../js/init.js"></script>
<script src="../../js/geo.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>

<script type="text/javascript">  
	$(document).ready(function(){
		$("#btnLoc").click(function() {
			initiate_geolocation();
			return false;
		});
		
        var input = document.getElementById('location');
        var defaultBounds = new google.maps.LatLngBounds(
  			new google.maps.LatLng(50.092393,-12.480469),
  			new google.maps.LatLng(59.063154,2.658691));
        var options = {
  		bounds: defaultBounds
		};
        var autocomplete = new google.maps.places.Autocomplete(input, options);   
	});	
	
        
    
</script>
<%end%>
